<%- include('../partials/header') %>

<h1 class="text-4xl text-blue-950 text-center">NIFTY</h1>
<%- include('nifty.ejs') %>
<h1 class="text-4xl text-blue-950 text-center">NSE Stocks</h1>
<%- include('stocks.ejs') %>

<%- include('../partials/footer') %>