    <div class="navbar" id="na">
        <ul>
            <li class="label"><a href="/">HOME</a></li>
            <li class="label"><a href="/#abo">ABOUT US</a></li>
            <li class="label"><a href="/register">Register/Login</a></li>
            <li class="label"><a href="/#con">CONTACT US</a></li>
            <li class="label"><a href="/news">NEWS</a></li>
        </ul>
    </div>
    <div class="dropdown" id="ser">
        <div class="drop1">Login</div>
         <div class="drop2">Signup</div>
       </div>