<%- include('partials/header') %>

<header class="nav">
  <%- include ("navbar")  %>
</header>
<div class="container">
    <div class="row my-3"  id = "content">
    </div>
    <!-- <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div> -->
</div>
<script>
let page = 1;
let str ="";
const fetchNews= async(page)=>{
  let url =`https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=fcf421dd3a274fb9aa44012a6056280b&page=${page}&pageSize=5`;
  let a = await fetch(url);
  let r= await a.json();
  
  for(let item of r.articles){
    let b = new Date(item.publishedAt).toGMTString();
    let c= item.urlToImage || "https://akm-img-a-in.tosshub.com/businesstoday/images/story/202306/shutterstock_1747643729-750x406_2-sixteen_nine.jpg?size=948:533" ;
    str = str + `
    <div class="col-md-4 my-3">
    <div class="card">
      <img class="card-img-top" src=${c} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">${item.title}</h5>
        <p class="card-text">${item.description}...</p>
        <p class="card-text"><small class="text-muted">By ${item.author} on ${b}</small></p>
        <a target = _blank href="${item.url}" class="btn btn-primary">Read More</a>
      </div>
  </div>
  </div>
    `
  }
  content.innerHTML = str;
}
fetchNews();
const showNews = ()=>{
  setTimeout(()=>{
    page++;
    fetchNews(page);
  },300);
};
window.addEventListener('scroll',()=>{
  const {scrollHeight, scrollTop, clientHeight} = document.documentElement;
  if(scrollTop + clientHeight >= scrollHeight){
    // console.log("bottom");
    showNews();
  }
})
</script>



<%- include('partials/footer') %>