<%- include('partials/header') %>
 <h1>You are logged in</h1>
 <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
 <form action="/stock" method="post">
    <button>Get Stocks</button>
</form>

<%- include('partials/footer') %>